################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TplDataFlow.Extension.Solution
/packages/System.Threading.Tasks.Dataflow.4.9.0
/TplDataFlow.Extension/bin
/TplDataFlow.Extension/obj
/TplDataflow.Extension.Tests/bin
/TplDataflow.Extension.Tests/obj
/TestResults/ce1d1e04-8db5-4a61-9426-ea67051e2b98
